<h1>Listing leases</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <td><%= link_to 'Show', lease %></td>
    <td><%= link_to 'Edit', edit_lease_path(lease) %></td>
    <td><%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lease', new_lease_path %>
